body {
  background-color: rgb(85, 85, 248, .8);
  font-family: 'Bagel Fat One', cursive;
}

.nav-title {
  font-size: 1.5em;
}

div {
  margin: 1em;
}


img {
  min-width: 275px;
  max-height: 1200px;
}